:root {
  --primary-color: #0078d4; /* Blue */
  --secondary-color: #4caf50; /* Green */
  --background-color: #f7f7f7; /* Light gray */
  --border-radius: 5px;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #0078d4, #4caf50);
}

#header-content,
#botResponse,
#userInput {
  text-align: center;
}

#header-content,
p {
  color: white;
}

header,
.chatbox {
  background-color: var(--primary-color);
  padding: 10px;
  margin: 10px;
  border-radius: var(--border-radius);
}

#botResponse {
  background-color: inherit;
  padding-top: 15px;
  color: white;
}

#userInput {
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
}

.chatbox {
  width: 300px;
  margin: 20px auto;
  border: 1px solid var(--primary-color);
}

h1,
p,
#userInput {
  font-family: Arial, sans-serif;
}

.chatlog {
  max-height: 200px;
  overflow-y: auto;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
